NEXTAUTH_SECRET=your-super-secret-key-here-make-it-long-and-random-at-least-32-characters
NEXTAUTH_URL=http://localhost:3001

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEWS_TOKEN=2fc0b8bd00d7456e926dcab2de9ce81c